<?xml version='1.0' encoding='UTF-8'?>
<Root>
	<TijianJieguo>
		<ShouciTijian>1</ShouciTijian>
		<ShangciTijianShijian>1473414982</ShangciTijianShijian>
		<Fenshu>100</Fenshu>
		<WentiGeshu>0</WentiGeshu>
		<WeiChuliWentiGetshu>0</WeiChuliWentiGetshu>
	</TijianJieguo>
	<QQ>
		<QQ1>526507027|http://shang.qq.com/wpa/qunwpa?idkey=9bebb4d6e666cf71a8f3225458a7fe42b54b446bdd7aa9efd83a72b727090719</QQ1>
	</QQ>
	<Download>
		<Path></Path>
	</Download>
</Root>
