<?xml version='1.0' encoding='UTF-8'?>
<Root>
	<TijianJieguo>
		<ShouciTijian>0</ShouciTijian>
		<ShangciTijianShijian>1468463652</ShangciTijianShijian>
		<Fenshu>100</Fenshu>
		<WentiGeshu>29</WentiGeshu>
		<WeiChuliWentiGetshu>0</WeiChuliWentiGetshu>
	</TijianJieguo>
	<QQ>
		<QQ1>123456789</QQ1>
	</QQ>
</Root>
